* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

#container {
    position: relative;
    margin: 10px;
}
.collon-1, .collon-2, .collon-3{
    position: relative;
    background-color: aliceblue;  
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

#chicken {
    float: right; 
    overflow: auto;
    text-align: justify;
}
#meat {
    float: right;
    overflow: auto;
    text-align: justify;
}
 
 #sushi {
    float: right;
    overflow: auto;
    text-align: justify;
}

 p strong {
    float: right;
    text-align: right;
    border: 3px solid black;
    background-color:rgba(255, 68, 0, 0.377)
 }